# Ignore the compiled plugin directory
nvim/plugin
nvim/lazy-lock.json

# Ignore vale plugins
vale/proselint
vale/styles

# Ignore any secrets
.env
.secrets

# Ignore troubleshooting logs
**/*log

# Ignore Apple nonsenese
**/*.DS_Store

# Ignore GIMP settings (at least for now)
gtk-2.0

# Ignore kitty, since only used for work demos with images
kitty/

# Ignore "active" simlinks
alacritty/themes/active.toml
tmux/themes/active.conf
