# Ignore the compiled plugin directory
nvim/plugin
nvim/lazy-lock.json

# Ignore vale plugins
vale/proselint
vale/styles

# Ignore any secrets
.env
.secrets

# Ignore troubleshooting logs
**/*log

# Ignore Apple nonsenese
**/*.DS_Store

# Ignore GIMP settings (at least for now)
gtk-2.0

# Ignore kitty, since only used for work demos with images
kitty/

# Ignore "active" simlinks
alacritty/themes/active.toml
tmux/themes/active.conf
nvim/lua/config/active_colors.lua

# Ignore the uv directory until I have anything interesting in there
uv/

# Ignore config.kdl until live reload is a thing; this is a dark/light mode
# workaround
zellij/config.kdl
